extends ../layouts/default

block append variables
    - var currentPage = "home";
    
block content
    .container
        h1 Welcome!

        p If you see this page, it means everything works fine.
        p Download the frontend code at <a href="https://github.com/OscarMui/balance-scale-frontend-python">GitHub</a> to play.