//- You don't _have_ to include a link saying your site is powered by KeystoneJS, but we appreciate it!
p: small Created by Oscar Mui

p: small.
    Powered by <a href="https://expressjs.com/" target="_blank">ExpressJS</a>
    