nav#myNav.navbar.navbar-default.navbar-expand-lg.navbar-dark: .container.my-1
    .navbar-brand
        a(href="/"): img(src="/images/aotd.png" width="40" height="40" alt="")
        a(href="https://discord.gg/2KabAgsN6Y").ml-3: img(src="/images/discord head.png" width="30" height="30" alt="")
    a.navbar-brand(href='/') Tenbin
    button.ml-3.navbar-toggler(type='button', data-toggle='collapse', data-target='#orderNav')
        span.navbar-toggler-icon.navbar-light
    .collapse.navbar-collapse#orderNav
        ul.nav.navbar-nav.mr-auto
            li.nav-item: a.nav-link(href="/" class={'active': currentPage === 'home'}) Home